body {
    background-size: cover;    
    background-repeat: no-repeat;
    background-image: url(images/fondPortfolio.jpg);
    background-position: right top;
    position: relative;
    background-attachment: fixed;
    font-size: 25px;
    color: white;
}

.TopMenu {
    width: 100%;
    display: flex;
}

.TopMenu>a {
    width: 25%;
    text-align: center;
    
}

a>div {
    border: 1px solid black;
    background-color: rgba(11, 17, 34, 0.9);
}

.corp {
    background-color: rgba(11, 17, 34, 0.9);
    width: 100%;
    position: relative;
    top: 10%;
}

.divTitle {
    display: flex;
    width: 50%;
    position: relative;
    left: 25%;
}

.title {
    text-align: center;
    flex-direction: column;
}

.reveal {
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0px);
    transition: .3s;
}

h1 {
    text-transform: uppercase;
    color: #ffffff;
    font-family: Abril fatface, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 0px 0px 20px black;
    font-size: 30px;
}
h1 span {
    position: relative;
    top: 300px;
}

.moyen {
    font-size: 50px;
}

.petit {
    font-size: 40px;
    margin-bottom: 550px;
}

h2 {
    margin-left: 10px;
    padding-left: 10px;
}

.Competences {
    padding-top: 10px;
    background-color: rgba(11, 37, 77 , 0.95);
    margin: 50px;
    text-shadow: 0px 0px 20px rgb(11, 37, 77);
    color: white;
    border-radius: 50px;
}

.ligne {
    display: flex;
}

.items {
    text-align: center;
    flex-direction: row;
    background-color: rgba(11, 17, 34 , 0.9);
    width: 20%;
    height: auto;
    margin: 15px;
    color: white;
    border-radius: 25px;
}

img {
    margin: 5px;
    padding: 5px;
    height: 75px;
    width: auto;
    background-color: whitesmoke;
    border-radius: 20px;
}

.Experience {
    padding-top: 10px;
    background-color: rgba(11, 37, 77 , 0.95);
    margin: 50px;
    text-shadow: 0px 0px 20px rgb(11, 37, 77);
    color: white;
    border-radius: 50px;
    padding: 0px 25% 0px 25%;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.projet {
    padding-bottom: 10px;
}


.Formation {
    padding-top: 10px;
    background-color: rgba(11, 37, 77 , 0.95);
    margin: 50px;
    text-shadow: 0px 0px 20px rgb(11, 37, 77);
    color: white;
    border-radius: 50px;
}

.formation-colonnes {
    display :flex;
    flex-direction: column;
    text-align: center;
}

.formation {
padding-bottom: 15px;
}

.CentredInteret {
    padding-top: 10px;
    background-color: rgba(11, 37, 77 , 0.95);
    margin: 50px;
    text-shadow: 0px 0px 20px rgb(11, 37, 77);
    color: white;
    border-radius: 50px;
}

.centreinteret-colonnes {
    display :flex;
    flex-direction: column;
    text-align: center;
}

.centre {
    padding-bottom: 15px;
}

.download {
    padding-top: 10px;
    background-color: rgba(11, 37, 77 , 0.95);
    margin: 50px;
    text-shadow: 0px 0px 20px rgb(11, 37, 77);
    color: white;
    border-radius: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.imageCV {
    margin: 5px;
    padding: 5px;
    height: 200px;
    width: auto;
    background-color: whitesmoke;
}