body {
    background-size: cover;    
    background-repeat: no-repeat;
    background-image: url(images/fondPortfolio.jpg);
    background-position: right top;
    position: relative;
    background-attachment: fixed;
    font-size: 25px;
    color: white;
}

.TopMenu {
    width: 100%;
    display: flex;
}

.TopMenu>a {
    width: 25%;
    text-align: center;
    
}

a>div {
    border: 1px solid black;
    background-color: rgba(11, 17, 34, 0.9);
}